--extra-index-url https://download.pytorch.org/whl/cpu
streamlit>=1.30,<2
streamlit-image-select
python-multipart
torch>=2.6,<3
torchvision<1
Pillow
Cmake
opencv-python-headless
numpy
pandas
pyyaml
psutil
tqdm
matplotlib
seaborn
scipy
gitpython>=3.1.30
setuptools
packaging
